$background-color: #2f303a;
$blue-circle: #303047;
$red-circle: #412c41;
$white: #ffff;
$font: "Poppins", sans-serif;

body {
  margin: 0;
  font-family: $font;
}
main {
  width: 100%;
  height: 85vh;
  background-color: $background-color;
  display: block;
}
section {
  width: 100%;
  height: 100%;
}
.main_section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.girl {
  width: 50%;
  margin-top: 8.2%;
  z-index: 999999;
}
.girl_div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.info_div {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: $white;
  margin-left: 5%;
  z-index: 999;
}
.claimer{
    text-align: start;
    font-size: 55px;
}
.text_claimer{
    width: 50%;
    font-size: 20px;
}

.btn_join {
  width: 15%;
  color: white;
  border-radius: 10px;
  background-color: #0451a9;
  border: none;
}

.red_circle{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    position: absolute;
    background-color: $red-circle;
    left: 5%;
    top: 35%;
}
.blue_circle{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    position: absolute;
    background-color: $blue-circle;
    right: 40%;
    top: 8%;
}
.blue_circle2{
    width: 400px;
    height: 400px;
    border-radius: 300px 0px 0px 0px;
    position: absolute;
    background-color: $blue-circle;
    left: 73.8%;
    top: 44%;
}