$background-color: #2f303a;
$blue-circle: #303047;
$red-circle: #412c41;
$white: #ffff;
$font: "Poppins", sans-serif;
$form-color: #211f27;

.general_footer{
    width: 100%;
    height: 10vh;
}
.footer_div{
    display: flex;
    background-color: $form-color;
    justify-content: space-around;
}
.about_div{
    display: flex;
    color: $white;
    font-weight: 800;
    font-family: $font;
}

.social_div{
    display: flex;
    color: $white;
     
    font-weight: 800;
    font-family: $font;
}
.social{
    display: flex;
    align-items: center;
}
.sc{
    width: 30%;
}